<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text utils</title>
</head>
<body>
<h1>welcome to text analyyzer. Enter your text</h1>
<form action="/analyze" method="get">
    <textarea name='text' style="margin: 0px; width: 877px; height: 171px;"></textarea><br>
    <input type="checkbox" name="removepunc"> Remove punctuation <br>
    <input type="checkbox" name="fullcaps"> Capatalize words <br>
    <input type="checkbox" name="newlineremove"> Remove New line <br>
    <input type="checkbox" name="spaceremove"> Remove extra space <br>
    <input type="checkbox" name="charcount"> Count the character <br>
    <button type='submit'>Analyze Text</button>
</form>
</body>
</html>

